* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eee9da;
}

/* ========== Common ========== */
a {
  text-decoration: none;
}
.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.btn {
  --height: 40px;
  display: inline-block;
  min-width: 100px;
  height: var(--height);
  padding: 0 20px;
  border-radius: 99px;
  border: 1px solid #6096b4;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: var(--height);
  color: #eee9da;
  background: #6096b4;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* ========== Navbar ========== */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  transition: all 0.3s ease;
  background-color: #6096b4;
}

.navbar.sticky {
  padding: 15px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  line-height: 80px;
  color: #eee9da;
  white-space: nowrap;
}

.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #eee9da;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 5px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  background: #93bfcf;
  transition: 0.5s;
}
.navbar.sticky .menu li a:hover {
  color: #eee9da;
}

.menu-btn {
  color: #eee9da;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* ========== Hero ========== */
.hero .container {
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
}

.hero .hero-content {
  margin-right: 60px;
}

.hero .new-release {
  font-size: 15px;
  font-weight: 600;
  color: #6096b4;
}

.hero .book-title {
  font-family: "Roboto Serif", serif;
  font-size: 55px;
  line-height: 1.15;
  letter-spacing: -0.02;
  color: #111;
  margin: 40px 0 20px;
}

.hero .book-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #111;
}

.hero .btn {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  min-width: 205px;
  margin-top: 38px;
}

.hero .new-book {
  width: 350px;
  transition: 0.3s;
}

/* ========== Category ========== */
.category .container {
  padding: 140px 20px 20px;
}

.category .cate-heading a {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #111;
}

.category .cate-heading h2 {
  margin-right: 20px;
}

.category .book-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category .book-item {
  display: flex;
  flex-flow: column wrap;
  align-self: stretch;
  width: calc(25% - 40px);
  padding-left: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
  margin-right: 30px;
  margin-top: 20px;
}

.category .book-item:hover {
  transform: translateY(-16px);
  box-shadow: 5px 5px #93bfcf;
}

.category .book-item .book-img {
  width: 240px;
  height: 360px;
  object-fit: fill;
  object-position: center;
}

.category .book-item .book-title {
  width: 240px;
  font-family: "Roboto Serif", serif;
  font-size: 18px;
  margin-top: 20px;
  line-height: 20px;
  width: 240px;
  height: 40px;
  color: #111;
}

.category .book-item .price {
  color: crimson;
  margin-top: 5px;
}

.category .book-item .rating {
  color: #6096b4;
  margin-top: 5px;
}

.category .book-item .btn {
  width: 140px;
  margin-top: 5px;
}

/* ========== Media ========== */
.media .container {
  padding: 140px 0 20px;
  margin-bottom: 170px;
}

.media h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #111;
  text-align: center;
}

.media .video-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media .video {
  margin-top: 40px;
  margin-right: 10px;
}

.media iframe {
  width: 560px;
  height: 300px;
}

/* ========== Footer ========== */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background: #6096b4;
  padding: 50px 100px 40px;
}

.footer .logo a {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  line-height: 80px;
  color: #eee9da;
  white-space: nowrap;
}

.footer .footer-menu {
  display: flex;
}

.footer-navbar .footer-menu li a {
  display: block;
  color: #eee9da;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 5px;
  transition: color 0.3s ease;
}
.footer-navbar .footer-menu li a:hover {
  background: #93bfcf;
  transition: 0.5s;
}
.footer .stay-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #eee9da;
}

.footer .stay-in-touch p {
  color: #eee9da;
}

.footer .stay-in-touch .icon i {
  color: #eee9da;
  margin: 0 5px;
}

/* ========== Detail Page ========== */
.detail-page .container {
  padding-top: 200px;
  margin-bottom: 170px;
}

.detail-page img {
  width: 350px;
  display: block;
}

.detail-page .breadcrumb {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.67;
}

.detail-page .breadcrumb a {
  color: #6096b4;
}

.detail-page .breadcrumb a:hover {
  text-decoration: underline;
}

.detail-page .product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail-page .product-imgs {
  display: flex;
}

.detail-page .img-display {
  overflow: hidden;
  height: 560px;
}

.detail-page .img-showcase {
  display: flex;
  width: 350px;
  transition: all 0.5s ease;
}

.detail-page .img-showcase img {
  min-width: 100%;
}

.detail-page .img-select {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.detail-page .img-item {
  margin-top: 5px;
  border: 1px solid #eee9da;
}

.detail-page .img-item:first-child {
  margin-top: 0;
}

.detail-page .img-item img {
  width: 110px;
}

.detail-page .img-item:hover {
  opacity: 0.8;
  border: 1px solid #6096b4;
}

.detail-page .product-detail {
  margin-left: 50px;
}

.detail-page .book-title {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: -0.02;
  color: #111;
}

.detail-page .author {
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #111;
}

.detail-page .author span {
  color: #6096b4;
  font-weight: 500;
}

.detail-page .book-desc {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #111;
}

.detail-page .book-desc p {
  margin-top: 10px;
}

.detail-page .book-desc em {
  font-style: italic;
}

.detail-page .rating {
  margin-top: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #111;
}

.detail-page .rating i {
  color: #6096b4;
}

.detail-page .price {
  color: crimson;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  margin-top: 5px;
}

.detail-page .quantity {
  margin-top: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
  color: #111;
}

.detail-page .btn {
  width: 140px;
  margin-top: 5px;
}

/* ========== Contact Page ========== */
.contact-page .container {
  padding-top: 200px;
  margin-bottom: 170px;
}

.contact-page .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.contact-page .title h2 {
  color: #111;
  font-weight: 500;
}

.contact-page .title p {
  font-size: 20px;
  margin-top: 5px;
}

.contact-page .contact-box {
  display: flex;
  justify-content: space-between;
}

.contact-page h3 {
  color: #6096b4;
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-page .contact-form {
  width: 700px;
}

.contact-page .contact-form .input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.contact-page .contact-form .input-box label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.contact-page .contact-form input,
.contact-page .contact-form select,
.contact-page .contact-form textarea {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 1px solid #6096b4;
}

.contact-page .contact-form .box {
  padding: 10px;
  font-size: 18px;
}

.contact-page .contact-form textarea {
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.contact-page .contact-form .submit {
  display: flex;
  flex-direction: row;
}

.contact-page .contact-form input[type="submit"] {
  background-color: #6096b4;
  color: #eee9da;
  border: none;
  font-size: 18px;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 5px;
}

.contact-page .contact-form input[value="Reset"] {
  background-color: #eee9da;
  color: #6096b4;
  transform: 0.5s;
  margin-left: 10px;
}

.contact-page .contact-form input[type="submit"]:hover {
  opacity: 0.8;
}

.contact-page .contact-form input[value="Reset"]:hover {
  background-color: #ddd;
}

.contact-page .contact-info {
  width: 350px;
}

.contact-page .contact-info .info-box {
  margin-bottom: 20px;
}

.contact-page .contact-info .info-box i {
  color: #6096b4;
  font-size: 18px;
}

.contact-page .contact-info .info-box a {
  font-size: 18px;
  font-weight: 500;
  color: #111;
  padding: 0 10px;
}

.contact-page iframe {
  width: 300px;
  height: 225px;
}

/* ========== Responsive ========== */
@media (max-width: 1300px) {
  .contact-page .contact-box {
    flex-direction: column;
    align-items: center;
  }

  .contact-page .contact-info {
    width: 700px;
    margin-top: 20px;
  }
}

@media (max-width: 1240px) {
  .category .book-item .book-img {
    width: 200px;
    height: 300px;
  }

  .category .book-item .book-title {
    width: 200px;
  }

  .media .video-list {
    flex-direction: column;
    align-items: center;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer-navbar .footer-menu li a {
    margin-top: 10px;
  }

  .footer .stay-in-touch {
    margin-top: 10px;
    flex-direction: row;
  }

  .footer .stay-in-touch .icon {
    margin-left: 20px;
  }
}

@media (max-width: 1080px) {
  .container {
    padding: 0 50px;
  }

  .category .book-item {
    width: calc(50% - 48px);
    align-items: center;
  }

  .category .book-item .book-img {
    width: 360px;
    height: 540px;
  }

  .category .book-item .book-title {
    width: 360px;
  }

  .detail-page .product-imgs {
    flex-direction: column;
  }

  .detail-page .img-select {
    flex-direction: row;
    align-content: space-between;
    margin-left: 0;
    height: 163px;
  }

  .detail-page .img-item {
    margin-top: 5px;
  }

  .detail-page .img-item:first-child {
    margin-top: 5px;
  }
}
@media (max-width: 960px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #6096b4;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .hero-content {
    margin-right: 0;
    margin-top: 20px;
  }
  .hero .new-release {
    font-size: 20px;
    text-align: center;
  }
  .hero .book-title {
    font-size: 40px;
  }
  .hero .button {
    display: flex;
    justify-content: center;
  }
  .hero .new-book {
    width: 500px;
  }

  .category .book-item .book-img {
    width: 280px;
    height: 420px;
  }

  .category .book-item .book-title {
    width: 280px;
  }

  .detail-page .product {
    flex-direction: column;
    align-items: center;
  }

  .detail-page .product-detail {
    margin-left: 0;
    margin-top: 30px;
    width: 600px;
  }

  .detail-page .img-display {
    height: 560px;
  }

  .detail-page .img-showcase {
    width: 380px;
  }

  .detail-page .img-select {
    height: 177px;
  }

  .detail-page .img-item img {
    width: 120px;
  }
}

@media (max-width: 800px) {
  .footer-navbar .footer-menu {
    flex-direction: column;
    align-items: center;
  }

  .category .book-item .book-img {
    width: 200px;
    height: 300px;
  }

  .category .book-item .book-title {
    width: 200px;
  }

  .contact-page .contact-form {
    width: 500px;
  }

  .contact-page .contact-info {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .hero .new-book {
    width: 400px;
  }

  .detail-page .product-detail {
    width: 400px;
  }

  .detail-page .book-title {
    font-size: 25px;
  }

  .detail-page p,
  .detail-page .author,
  .detail-page .rating,
  .detail-page .quantity {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .category .container {
    padding: 50px 20px 20px;
  }

  .category .cate-heading a {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .category .book-item {
    width: calc(100% - 48px);
  }

  .category .book-item .book-img {
    width: 300px;
    height: 450px;
  }

  .category .book-item .book-title {
    width: 300px;
  }

  .media .container {
    padding: 50px 0 20px;
  }

  .media h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .media iframe {
    width: 360px;
    height: 240px;
  }

  .footer .container {
    margin-top: 80px;
  }
}

@media (max-width: 600px) {
  .detail-page .breadcrumb {
    font-size: 16px;
  }

  .detail-page .product-detail {
    width: 400px;
  }

  .detail-page .img-display {
    height: 420px;
    width: 285px;
    text-align: center;
  }

  .detail-page .img-showcase {
    width: 285px;
  }

  .detail-page .img-select {
    height: 139px;
  }

  .detail-page .img-item img {
    width: 93px;
  }

  .detail-page .product-detail {
    width: 350px;
  }

  .contact-page .contact-form {
    width: 400px;
  }

  .contact-page .contact-info {
    width: 400px;
  }

  .contact-page .title {
    font-size: 30px;
  }

  .contact-page .title p {
    font-size: 15px;
  }

  .contact-page h3 {
    font-size: 18px;
  }

  .contact-page .contact-form input,
  .contact-page .contact-form select,
  .contact-page .contact-form textarea,
  .contact-page .contact-form .box,
  .contact-page .contact-form input[type="submit"],
  .contact-page .contact-info .info-box i,
  .contact-page .contact-info .info-box a {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .hero .new-book {
    width: 300px;
  }

  .category .cate-heading a {
    font-size: 24px;
  }

  .category .book-item .book-img {
    width: 240px;
    height: 360px;
  }

  .category .book-item .book-title {
    width: 240px;
  }

  .footer .stay-in-touch {
    flex-direction: column;
  }

  .footer .stay-in-touch .icon {
    margin-left: 0;
  }

  .detail-page .product-detail {
    width: 300px;
  }

  .contact-page .contact-form {
    width: 300px;
  }

  .contact-page .contact-info {
    width: 300px;
  }
}
